@import './helpers/colors';

.App, body {
  background-color: $log-cabin;
  padding-bottom: 1em;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  .App-header {
    background-color:  $log-cabin;
    padding: 1em;
    color:$old-lace;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .message {
    color: $old-lace;
    padding: 0 1em ;
    -webkit-transition: 1s;
    -moz-transition:1s;
    -o-transition:1s;
    transition:1s;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
}





